.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.black-bg {
  background-color: #282c34;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

div {
  box-sizing: border-box;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid gray;
  height: 150px;
}

.like-btn {
  background-color: #339dba;
  color: white;
  font-size: 12px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}
.like-btn:hover {
  background-color: #4ab8d6;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
  text-align: left;
}


.input-form {
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  margin: 5px;
}