.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-bg {
  height: 1500px;
  /* 얘는 CSS 배경이미지 넣는 방법 background-img: url(경로!); */
  background-image: url(../public/imges/shoes.png);
  background-size: cover;
}

.tab-content { 
  background-color: white;
  width: 49.5vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.8s;
}

/* keyframes 기억하자 from, to 로 작성할수도 있지만 25% 50% 75% 100% 이렇게 %로 작성도 가능 */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
