/* Sass에서 지원하는 변수 / 사칙연산도 현재 CSS에서 지원해준다! */

/* CSS에서 변수 선언해서 사용하는법 */
:root {
  --main-color: #2a2a2a;
}
.test-var {
  /* 선언한 변수 사용법 */
  background-color: var(--main-color);
  /* CSS도 calc()이용 사칙연산 가능 */
  font-size: calc(16px - 12px);
}

.wrapper {
  width: 800px;
  height: 800px;
  background-color: oldlace;
  margin: 0px;
  /* inline-block 사용시 발생하는 공백 제거하는 방법중 한가지 */
  font-size: 0px;
}
.header {
  width: 100%;
  height: 100px;
  background-color: aquamarine ;
}
.left-menu {
  width: 30%;
  height: 600px;
  background-color: palevioletred;
  float: left;
}
.right-menu {
  width: 70%;
  height: 600px;
  background-color: rebeccapurple;
  float: right;
}
.footer {
  width: 100%;
  height: 100px;
  background-color: gray;
  clear: both;
  float: none;
}
.in-left-menu {
  width: 30%;
  height: 600px;
  background-color: palevioletred;
  display: inline-block;
}
.in-right-menu {
  width: 70%;
  height: 600px;
  background-color: purple;
  display: inline-block;
  /* inline 또는 table-cell box에서의 수직 정렬을 지정  */
  vertical-align: top;
}
p {
  color: black;
}